* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Work Sans", sans-serif;
  }
   /* navbar css */
  
   a:link {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    display: block;
  }
  .navigation {
    padding-block: 2rem;
    box-shadow: 0 0 10px 0px #5f5f5f;
  }
  
  .nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10rem;
  }
  
  .nav-inner,
  .main {
    margin-inline: auto;
    max-width: 1344px;
  }
  
  .logo {
    display: flex;
    gap: 1.5rem;
  }
  
  .logo img {
    height: 2.8rem;
  }
  
  .logo-name {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .logo-name span {
    color: #ff42a5;
  }
  .nav-links ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  .nav-link {
    color: #3c354f;
    transition: 0.3s;
  }
  
  .nav-link:hover a {
    color: #ff42a5;
  }
  
  .nav-cta {
    background-color: rgba(11, 3, 36, 0.1);
    padding: 1.2rem;
    border-radius: 6px;
  }
  
  .nav-cta a {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .nav-icons {
    display: flex;
    gap: 1rem;
  }
  
  .nav-cta i {
    display: block;
    font-size: 2.2rem;
  }
  /* navbar finised */